.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding: 0 1rem 1rem;
    margin: 0 auto;
    max-width: 1440px;
    gap: 2rem;
}

main p {
    display: flex;
    justify-content: center;
    font-style: italic;
    color: #8c8c8c;
    margin-top: 0;
}