.filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.filter-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.filters-row {
  display: flex;
  flex-wrap: nowrap;
  gap: 1.5rem;
  justify-content: center;
}

.filter-search-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

/* .character-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 1.5rem;
  padding: 1rem;
  background-color: #f9f9f9;
  overflow-x: auto;
} */

.character-box {
  display: flex;
  flex-direction: column;
  width: 12rem;
  flex-shrink: 0;
}

.button-reset-row {
  display: flex;
  justify-content: center;
}

.character-label {
  color: #8c8c8c;
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
  transition: color 0.2s ease;
}

.character-input {
  box-sizing: border-box;
  width: 100%;
  max-width: 12rem;
  min-width: 12rem;
  border: none;
  border-bottom: 1px solid #8c8c8c;
  outline: none;
  font-size: 1rem;
  color: #222;
  padding: 0.25rem 0;
  transition: border-color 0.2s ease;
  background-color: transparent;
  appearance: none;
}

.character-box:focus-within .character-label {
  color: #1976d2;
}


.character-input:hover {
  border-bottom: 2px solid #8c8c8c;
}

.character-input:focus {
  border-bottom: 2px solid #1976d2;
}